Source: wb-configs
Section: config
Priority: extra
Maintainer: Evgeny Boger <boger@contactless.ru>
Build-Depends: debhelper (>= 9), config-package-dev (>= 5.0), dh-systemd
Standards-Version: 3.9.4
Homepage: https://github.com/contactless/wb-configs

Package: wb-configs
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ucf, wb-utils (>= 2.1), inotify-tools, mosquitto (>= 1.4.7-1), watchdog (>= 5.15),
         linux-image-wb2 | linux-image-wb6 | linux-image-wb7, fcgiwrap, wb-update-manager
Pre-Depends: wb-update-manager
Provides: ${diverted-files}, mqtt-wss
Conflicts: ${diverted-files}, mqtt-wss, wb-homa-adc (<< 1.9.2), wb-homa-gpio (<< 1.14), wb-mqtt-serial(<< 1.14.2), wb-rules(<< 1.5.1), busybox-syslogd (<< 9:1.0~dummy), nginx-common (<< 1.7.11)
Breaks: wb-configs-stretch (<< 3.0.0)
Recommends: wb-essential, wb-suite, figlet
Replaces: mqtt-wss, wb-configs-stretch (<< 3.0.0)
Description: Default common config files for Wiren Board
