#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

%:
	dh $@ --with config-package

override_dh_installsystemd:
	dh_installsystemd --name=wb-configs-early --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-configs
	dh_installsystemd --name=wb-systime-adjust --no-start --no-restart-after-upgrade --no-restart-on-upgrade

override_dh_installinit:
	dh_installinit --name=wb-configs-early
	dh_installinit --name=wb-configs
	dh_installinit --name=wb-systime-adjust

override_dh_fixperms:
	dh_fixperms
	find debian -name '*.nmconnection' -exec chmod 0600 {} +

override_dh_installinit:
	dh_installinit --noscripts
