#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE = 1

%:
	dh $@ --with config-package --with systemd

override_dh_installsystemd:
	dh_installsystemd --name=wb-configs-early --no-start --no-restart-after-upgrade --no-restart-on-upgrade
	dh_installsystemd --name=wb-configs
	dh_installsystemd --name=wb-systime-adjust --no-start --no-restart-after-upgrade --no-restart-on-upgrade

override_dh_installinit:
	dh_installinit --name=wb-configs-early
	dh_installinit --name=wb-configs
	dh_installinit --name=wb-systime-adjust

override_dh_systemd_enable:
	dh_systemd_enable --name=wb-configs-early wb-configs-early.service
	dh_systemd_enable --name=wb-configs wb-configs.service
	dh_systemd_enable --name=wb-systime-adjust wb-systime-adjust.service

override_dh_systemd_start:
	dh_systemd_start --name=wb-configs-early --no-start wb-configs-early.service
	dh_systemd_start --name=wb-configs wb-configs.service
	dh_systemd_start --name=wb-systime-adjust --no-start wb-systime-adjust.service

override_dh_fixperms:
	dh_fixperms
	find debian -name '*.nmconnection' -exec chmod 0600 {} +
