[Unit]
Description=Fix wb online demokit bench (by installing wb-demo-kit-configs at runtime)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/wb-fix-demokit
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
