[Unit]
Description=Power on GSM modem
Wants=wb-hwconf-manager.service
After=wb-hwconf-manager.service

[Service]
Type=oneshot
Environment=DEBUG=1
ExecStart=wb-gsm simple_on
ExecStopPost=wb-gsm simple_off
ExecCondition=wb-gsm should_enable
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
