[Unit]
Description=Compensation of systime in PPM from value, stored in device-tree (with opposite sign)
ConditionPathExists=/proc/device-tree/wirenboard/24mhz_ppm_diff
After=ntp.service
PartOf=ntp.service

[Service]
Type=oneshot
ExecStart=/usr/bin/wb-adjust-systime
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
