Source: busybox-syslogd-dummy
Section: misc
Priority: optional
Maintainer: Nikita Maslov <nikita.maslov@wirenboard.com>
Build-Depends: debhelper (>= 9), dh-systemd
Standards-Version: 3.9.4

Package: busybox-syslogd
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}, wb-configs-stretch (>= 1.84.3)
Description: dummy package to remove old busybox-syslogd
