ACTION!="add|change|move|bind", GOTO="wb_modem_end"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="1e0e", GOTO="wb_modem_types"
GOTO="wb_modem_end"

LABEL="wb_modem_types"

# SIMCOM A7600E-H SIM switch and mark RNDIS unmanaged for NetworkManager
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT", ENV{NM_UNMANAGED}="1"

LABEL="wb_modem_end"
