ACTION!="add|change|move|bind", GOTO="wb_modem_end"
SUBSYSTEMS=="usb", GOTO="wb_usb_modem_types"

LABEL="wb_usb_modem_types"

# WB-internal modems have simselect gpio and specific tag (mmcli -m tag)
ENV{OF_COMPATIBLE_0}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"
ENV{OF_COMPATIBLE_1}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"
ENV{OF_COMPATIBLE_2}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"
ENV{OF_COMPATIBLE_3}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"
ENV{OF_COMPATIBLE_4}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"
ENV{OF_COMPATIBLE_5}=="wirenboard,wbc-usb", ENV{ID_MM_PHYSDEV_UID}="wbc", ENV{ID_MM_SIM_SWITCH_GPIO_LABEL}="SIM_SELECT"

# SIMCOM SIM800C-DS: ignore
ATTRS{idVendor}=="0e8d", ATTRS{idProduct}=="0003", ENV{ID_MM_DEVICE_IGNORE}="1"
# SIMCOM SIM5300E: ignore
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="0020", ENV{ID_MM_DEVICE_IGNORE}="1"
# SIMCOM SIM7000E: ignore
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9001", ENV{ID_MM_DEVICE_IGNORE}="1"
# SIMCOM A7600E-H: SIM switch and mark RNDIS unmanaged for NetworkManager
ATTRS{idVendor}=="1e0e", ATTRS{idProduct}=="9011", ENV{NM_UNMANAGED}="1"
# QUECTEL EC200T-EU: SIM switch and mark RNDIS unmanaged for NetworkManager
ATTRS{idVendor}=="2c7c", ATTRS{idProduct}=="6026", ENV{ID_MM_DEVICE_IGNORE}="1"

LABEL="wb_modem_end"
