# See https://mosquitto.org/man/mosquitto-conf-5.html and https://wirenboard.com/wiki/MQTT for more information

connection bridge1
# address of server
address 10.0.0.105
notifications true
notification_topic /clientnotification/bridge1_status
remote_username test
remote_password wbpassword

# avoid using QoS 1 and 2 here
topic /temp1/# both 0 /devices /controller
